$font-main: Inter;
$font-bold: 700;
$dark-grey: #343434;
$light-grey: #E3E3E5;
$sta-primary-dark: black;
$sta-primary-light: grey;

/* top level font and styling*/
h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $sta-primary-dark;
}

h2 {
  font-size: 35px;
  line-height: 2;
}

h3 {
  line-height: 2;
}

/* top bar */
.navbar .navbar-nav .nav-link.active {
  color: $sta-primary-dark !important;
}

/* top bar: increase font size and weight */
.navbar {
  height: 70px;
  background: $sta-menu-primary;
  /*box-shadow: none;  */
  font-size: 16px;
  font-weight: 700 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}

/* top bar: increase space between items */
.navbar-nav > li {
  padding-right: 20px;
}

/* details sections */
details > summary {
  padding: 2px 6px;
  background-color: #f0f8ff;
  border: none;
  box-shadow: 3px 3px 4px black;
}

details > p {
  border-radius: 0 0 0px 0px;
  background-color: #f0f8ff;
  padding: 10px 15px;
  margin: 0;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #b3dbff;
  border-radius: 0px;
}

/* custom divs from http://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/ */
div.puzzle, div.fyi, div.demo, div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}

div.puzzle {
    background-image: url("../puzzle-div.png");
}

/* Wider posts*/
.article-container {
  min-width: 70% !important;
}

/* Code block font size*/
pre code {
  font-size: 110%;
}