$font-main: Inter;
$font-bold: 700;
$dark-grey: #343434;
$light-grey: #E3E3E5;
$sta-primary-dark: black;
$sta-primary-light: grey;

/* top level font and styling*/
h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $sta-primary-dark;
}

h2 {
  font-size: 35px;
  line-height: 2;
}

/* top bar */
.navbar .navbar-nav .nav-link.active {
  color: $sta-primary-dark !important;
}

/* details sections */
details > summary {
  padding: 2px 6px;
  background-color: #f0f8ff;
  border: none;
  box-shadow: 3px 3px 4px black;
}

details > p {
  border-radius: 0 0 0px 0px;
  background-color: #f0f8ff;
  padding: 10px 15px;
  margin: 0;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #b3dbff;
  border-radius: 0px;
  }
