
p {
  margin-top: 5px;
  font-size: 105%;
}

/* HEADINGS */
h1, h2 {
  color: #990000;
}

h3 {
  line-height: 400%;
  margin-bottom: -20px;
}

/* Keyboard shortcuts notation */

kbd {
  background-color: #707070;
}

/* HORIZONTAL LINE */
hr {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #BFBFBF;
}


/* HIDDEN DETAILS BOX */
details > summary {
  padding: 10px 15px; /* t+b l+r */
  background-color: #f0f8ff;
  border: none;
  box-shadow: 3px 3px 4px black;
  margin: 10px 0px 0px 0px;
}

details > p {
  border-radius: 0 0 0px 0px;
  background-color: #f0f8ff;
  padding: 0px 10px 10px 10px;
  margin: 0px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #337eac;
  border-radius: 0px;
}


/* CODE BOXES */
/* pre.sourceCode.bash */
pre{
  background-color: #f7f3f3;
  padding: 10px 15px;
  border-radius: 0px;
  border-style: none;
  border-width: 1px;
  border-style: solid;
  border-color: #337eac;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #337eac;
  margin: 0px;
  font-style: italic;
}

/*pre.sourceCode.bash{
  background-color: #f7f3f3;
}*/

pre.r {
  font-style: normal;
  border-bottom-width: 0.5px;
  margin-top: 5px;
}

.r_output {
  color: #838485;
  border-color: #838485;
  background-color: white;
  border-top-width: 1px;
  margin-bottom: 10px;
  margin-top: -15px;
}

.r_error, .r_warning, .r_message {
  color: red;
  background-color: white;
  border-top-width: 0px;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* custom divs from http://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/ */
div.puzzle, div.fyi, div.demo, div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 60px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}
