h2 {
  text-align: center;
  color: #bb0000;
}

blockquote {
  color: #707070;
}

.remark-inline-code {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.large {
  font-size: 110%;
}

.larger {
  font-size: 150%;
}

.huge {
  font-size: 200%;
}

kbd {
    background-color: rgb(243, 243, 243);
    border: 2px solid #adadad;
    border-radius: 5px;
    grid-column: span 2;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
  color: #666666;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  /*border: thin silver solid;*/
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}


/******************
 * Coloured content boxes
 ****************/

.content-box {
  box-sizing: border-box;
  background-color: #e2e2e2;
}


.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 40px;
  width: 100%;
  position: relative;
}

.content-box-q,
.content-box-answer,
.content-box-diy,
.content-box-warning,
.content-box-info {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  overflow: hidden;
  padding: 0px 20px 0px 70px;
  width: 100%;
  position: relative;
}

.content-box-q:before,
.content-box-answer:before,
.content-box-diy:before,
.content-box-warning:before,
.content-box-info:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 35px;
    padding-right: 0.5em;
    position: absolute;
    top: 15px;
    left: 20px;
}

.content-box-info {
  background-color: #dfedff;
  border: solid 5px #c0dffa;
}

.content-box-warning {
  background-color: #ffcccc;
  border: solid 5px #ed8080;
}

.content-box-diy {
  background-color: #f4e9f5;
  border: solid 5px #ce84d1;
}

.content-box-q {
  background-color: #f4e9f5;
  border: solid 5px #ce84d1;
}

.content-box-answer {
  background-color: #e4ede4;
  border: solid 5px #50ab50;
}

.content-box-info:before {
    content: "\f05a";
}

.content-box-warning:before {
    content: "\f071";
}

.content-box-diy:before {
    content: "\f044";
}

.content-box-q:before {
    content: "\f128";
}

.content-box-answer:before {
    content: "\f00c";
}

.content-box-blue { background-color: #F0F8FF; }
.content-box-gray { background-color: #e2e2e2; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #e4ede4; }
.content-box-purple { background-color: #e2e2f9; }
.content-box-red { background-color: #ffcccc; }
.content-box-yellow { background-color: #fef5c4; }

.content-box-blue .remark-inline-code,
.content-box-blue .remark-inline-code,
.content-box-gray .remark-inline-code,
.content-box-grey .remark-inline-code,
.content-box-army .remark-inline-code,
.content-box-green .remark-inline-code,
.content-box-purple .remark-inline-code,
.content-box-red .remark-inline-code,
.content-box-yellow .remark-inline-code {
  background: none;
}
